@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.card {
    padding: 20px;
    width: 250px;
    background-color: #eeeeee;
}

.pic {
    position: relative;
    display: inline;
    float: left;
    width: 40px;
}

.mytext {
    font-size: 20px;
    width: 100%;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #dddddd;
}

* span {
    white-space: nowrap;
    overflow: hidden;
    max-width: 5ch !important;
}

.caret_up {
    color: #2CD618;
}

.caret_down {
    color: #AF1515;
}

.minus {
    color: #C6C6C6;
}

.sembol_up {
    background-color: #2CD618;
    transition-timing-function: ease;
}

.sembol_down {
    background-color: #AF1515;
    transition-timing-function: ease;
}